html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 35rem;
  position: relative;
  font-family: 'Source Sans Pro';
  font-weight: 300;
  background-color: #fafafa;
}

a:hover {
  color: #5308AB;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather';
  font-weight: 700;
}

svg {
  position: relative;
  min-height: 70%;
  max-width: 90%;
  width: auto;
  height: 70%;
  z-index: 0;
  padding-bottom: 5%
}

.masthead {
  position: relative;
  overflow: hidden;
  padding-bottom: 3rem;
  z-index: 2;
  padding-left: 1rem;
}

.masthead .masthead-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 35rem;
  height: 100%;
  background-color: hsla(248, 90%, 33%, 0.8)
;

  -webkit-transform: skewY(4deg);
  transform: skewY(4deg);
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  z-index: -1;
}

.masthead .masthead-content h1 {
  font-size: 2.5rem;
}

.masthead .masthead-content p {
  font-size: 1.2rem;
}

.masthead .masthead-content p strong {
  font-weight: 700;
}

.social-row {
  padding-top: 3%;
  padding-bottom: 2%;
}

.social-icons a {
  display: inline-block;
  height: 3.5rem;
  width: 3.5rem;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 3.5rem;
}

.social-icons a:last-child {
  margin-right: 0;
}

.social-icons a:hover {
  background-color: #5308AB;
  color: #fff ! important;
}

.btn-secondary {
  background-color: #cd9557;
  border-color: #cd9557;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #ba7c37 !important;
  border-color: #ba7c37 !important;
}

@media (min-width: 600px) {
  svg {
    width: 45%;
    min-width: 40%;
    padding-bottom: 0%;
  }
  .masthead {
    padding-bottom: 20rem;
    padding-left: 0;
  }
}


@media (min-width: 768px) {
  svg {
    position: absolute;
    top: 30%;
    left: 50%;
    padding-bottom: 0%;
  }
  .masthead {
    height: 100%;
    min-height: 0;
    width: 40.5rem;
  }
  .masthead .masthead-bg {
    min-height: 0;
    -webkit-transform: skewX(-8deg);
    transform: skewX(-8deg);
    -webkit-transform-origin: top right;
    transform-origin: top right;
    width: 80%;
  }
  .masthead .masthead-content {
    padding-left: 3rem;
    padding-right: 10rem;
  }
  .masthead .masthead-content h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}

@media (min-width: 800px) {
  svg {
    top: 20%;
    left: 50%;
    padding-bottom: 0%;
  }
}

@media (min-width: 1200px) {
  .masthead .masthead-bg {
    width: 100%;
  }
}


